.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#image {
    position: absolute;
}

.nome {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: #000;
    top: 80px;
    left: 250px;
}

.cargo {
    position: absolute;
    font-size: 20px;
    color: #898989;
    top: 110px;
    left: 250px;
}

.fone {
    position: absolute;
    top: 160px;
    left: 250px;
    height: 25px;
}

.fonetxt {
    position: absolute;
    font-size: 20px;
    color: #898989;
    top: 160px;
    left: 290px;
}

.cel {
    position: absolute;
    top: 190px;
    left: 250px;
    height: 25px;
}

.celtxt {
    position: absolute;
    font-size: 20px;
    color: #898989;
    top: 190px;
    left: 290px;
}

.mail {
    position: absolute;
    top: 220px;
    left: 250px;
    height: 25px;
}

.mailtxt {
    position: absolute;
    font-size: 20px;
    color: #898989;
    top: 220px;
    left: 290px;
}

.site {
    position: absolute;
    top: 250px;
    left: 250px;
    height: 25px;
}

.sitetxt {
    position: absolute;
    font-size: 20px;
    color: #898989;
    top: 250px;
    left: 290px;
}

.emptxt {
    position: absolute;
    font-size: 20px;
    color: #898989;
    top: 280px;
    left: 290px;
}

.sitea {
    position: absolute;
    top: 220px;
    left: 800px;
    height: 50px;
}

.insta {
    position: absolute;
    top: 220px;
    left: 860px;
    height: 50px;
}

.face {
    position: absolute;
    top: 220px;
    left: 920px;
    height: 50px;
}

.linkedin {
    position: absolute;
    top: 220px;
    left: 980px;
    height: 50px;
}
